@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

:root {
   --color-blue: #3882f6;
   --color-dark-blue: #1f2937;
   --color-white: #f9faf8;
   --color-gray: #e5e7eb;
   --font-family-roboto: "Roboto", sans-serif;
   --font-size-sm: 1.125rem; /* 18px */
   --font-size-md: 1.5rem; /* 24px */
   --font-size-lg: 2.25rem; /* 36px */
   --font-size-xl: 3rem; /* 48px */
}

* {
   box-sizing: border-box;
   font-family: var(--font-family-roboto);
   margin: 0;
   padding: 0;
   list-style: none;
}

body {
   min-height: 100vh;
}

header {
   background-color: var(--color-dark-blue);
   color: var(--color-white);
   padding-left: 13rem;
   padding-right: 13rem;
}

header nav {
   display: flex;
   justify-content: space-between;
   padding-top: 1.25rem;
}

header nav h2 {
   font-size: var(--font-size-md);
}

header nav a {
   text-decoration: none;
   color: var(--color-gray);
}

header ul {
   display: flex;
   gap: 1rem
}

header .hero {
   display: flex;
   justify-content: space-between;
   gap: 1rem;
   padding-top: 7rem;
   padding-bottom: 7rem;
}

header .hero > div {
   width: 500px;
   height: 220px;
}

header .hero h1 {
   font-size: var(--font-size-xl);
   font-weight: bolder;
}

header .hero p {
   font-size: var(--font-size-sm)
}

header .hero .hero-img {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 520px;
   height: 235px;
   background-color: gray;
   border: 1px solid black;
}

.information {
   text-align: center;
   padding-bottom: 7rem;
}

.information h2 {
   color: var(--color-dark-blue);
   font-size: var(--font-size-lg);
   font-weight: bolder;
   padding: 2.375rem 0;
}

.information .container {
   display: flex;
   justify-content: center;
   gap: 3rem;
}

.information .information-img {
   height: 9.75rem;
   width: 9.75rem;
   border: 4px solid var(--color-blue);
   border-radius: 0.75rem;
}

.information p {
   padding-top: 0.375rem;
   width: 10rem;
   color: var(--color-dark-blue);
}

.quote {
   background-color: var(--color-gray);
   padding: 6.5rem 17.5rem;
}

.quote div {
   display: flex;
   justify-content: flex-end;
}

.quote > p {
   font-size: var(--font-size-lg);
   font-style: italic;
}

.quote div > p {
   font-size: var(--font-size-md);
   color: var(--color-dark-blue);
   font-weight: bold;
}

.call-to-action {
   background-color: var(--color-white);
   padding: 6rem 13rem;
}

.call-to-action .wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 3rem 7rem;
   background-color: var(--color-blue);
   border-radius: .5rem;
}

.call-to-action h3 {
   font-size: var(--font-size-md);
   color: var(--color-white);
}

.call-to-action p {
   color: var(--color-white);
}

button {
   background-color: var(--color-blue);
   color: var(--color-white);
   border: none;
   padding: 0.5rem 2rem;
   font-weight: bold;
   font-size: var(--font-size-sm);
   margin-top: 1rem;
   border-radius: 0.5rem;
}

.call-to-action button {
   border: 2px solid var(--color-white);
}

footer {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--color-dark-blue);
   height: 6rem;
   color: var(--color-white);
}

